<!-- Resposta A para telas maiores que 949px -->
<div class="container-fluid d-none d-md-block w-100">
  <div class="row">
    <div class="col-md-4 custom-padding">
      <p>Turma: ADS</p>
      <p>Turno: NOITE</p>
      <p>Unidade: BONSUCESSO</p>
    </div>
    <div class="col-md-4 custom-padding">
      <img src="../assets/foto.jpg" alt="Foto do Aluno" class="img-fluid" />
    </div>
    <div class="col-md-4 custom-padding">
      <p>Nome do Aluno:</p>
      <p>Erick Contrera</p>
    </div>
  </div>
</div>
<!-- Resposta B para telas menores que 949px -->
<div class="container-fluid d-block d-md-none">
  <div class="row">
    <div class="col-4 custom-padding">
      <p>Turma: ADS</p>
      <p>Turno: NOITE</p>
      <p>Unidade: BONSUCESSO</p>
    </div>
    <div class="col-8 custom-padding">
      <div class="row">
        <div class="col-8 custom-padding">
          <p class="text-center">Nome do Aluno:</p>
          <p class="text-center">Erick Contrera</p>
        </div>
        <div class="col-4 custom-padding">
          <img src="../assets/foto.jpg" alt="Foto do Aluno" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</div>
